body {
    margin: 0;
    padding: 20px 10px 20px 30px;
    font-size: 15px;
    font-family: Arial;
    color: #fff;
    background-color: #344070;
}

p {
    margin: 0 0 1rem 0
}

a, a:visited {
    color: #00f;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background: url(../images/title_large.png) no-repeat 0 5px;
}

.gallery {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.gallery .sorting {
    margin: 0 0 15px 0; 
    border: 1px solid #fff;
    background-color: rgba(97, 155, 205, .2);
}

.gallery .sorting span {
    padding: 0 20px 0 0; 
    color: #fff;
    font-style: italic;
}

.gallery .sorting div {
    margin: 10px 0 10px 10px;
}

.gallery .sorting a {
    color: yellow;
    font-size: .85rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 20px 3px 20px;
    background: url(../images/unchecked.png) no-repeat 0px 3px;
}

.gallery .sorting a:hover {
    color: #c36f14;
}

.gallery .sorting a.selected {
    color:  #c36f14;
    font-weight: bold;
    background-image: url(../images/checked.png);
}

.gallery .photos .thumbnail_container {
    position: relative;
}

.gallery .photos .thumbnail_container a.thumbnail {
    position: absolute;
}

.gallery .photos .thumbnail_container a.thumbnail img {
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
    border-radius: 7px;
}

.clear_both{
    clear: both;
    line-height: 1px;
}

/* vertical */
@media screen and (min-height: 50px) and (max-height: 520px) {
    .title {
        background-image: url(../images/title_small.png);
    }
 }
@media screen and (min-height: 521px) and (max-height: 700px) { 
    .title {
        background-image: url(../images/title_medium.png);
    }
}
@media screen and (min-height: 701px) {
    .title {
        background-image: url(../images/title_large.png);
    }
 }

 /* horizontal */

 @media screen and (min-width: 50px) and (max-width: 500px) {
    .title {
        background-image: url(../images/title_small.png);
    }
    body {
        padding: 5px 0 0 5px;
    }
    .gallery {
        width: auto;
        margin-left: 35px;
    }
    .gallery .sorting span {
        display: block;
        padding: 0 0 20px 0;
    }
    .gallery .sorting a {
        display: block;
    }
 }
@media screen and (min-width: 501px) and (max-width: 960px) { 
    .title {
        background-image: url(../images/title_medium.png);
    }
    .gallery .sorting span {
        display: block;
        padding: 0 0 20px 0;
    }
    .gallery .sorting a {
        display: block;
        width: 35%;
        float: left;
        margin-bottom: 5px;
    }

}
@media screen and (min-width: 961px) {
    .title {
        background-image: url(../images/title_large.png);
    }
    .gallery .sorting span {
        padding: 0 20px 0 0;
    }
 }